@model MyFitness.Models.ProductModel


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Add Product</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="#">Pages</a>
                        <span>Contact us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="leave-comment">
                    <form action="#" method="post">
                        <input type="text" name="PDuration" placeholder="Product Duration">
                        <input type="text" name="PPrice" placeholder="Product Price">
                        <textarea placeholder="Product Description" name="PDesc"></textarea>
                        <button type="submit">Add Product</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        
    </div>
</section>
<!-- Contact Section End -->
