@model MyFitness.Models.Product


<script>
    tinymce.init({
        selector: '#description',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Add Product</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="#">Pages</a>
                        <span>Contact us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="leave-comment">
                    <form method="post">
                        <input type="text" name="PDuration" value="@Model.PDuration" placeholder="Product Duration">
                        <input type="text" name="PPrice" value="@Model.PPrice" placeholder="Product Price">
                        <textarea placeholder="Product Description" name="PDesc" id="description">@Model.PDesc</textarea>
                        <button type="submit">Update Product</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</section>
<!-- Contact Section End -->
