<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 py-5">
                <div class="section-title">
                    <button id="rzp-button1" class="btn btn-outline-info btn-lg">Pay Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<form method="post" action="/Home/Subscribe">
    <input type="hidden" name="razorpay_payment_id" value="" id="razorpay_payment_id" />
    <input type="hidden" name="razorpay_order_id" value="" id="razorpay_order_id" />
    <input type="hidden" name="razorpay_signature" value="" id="razorpay_signature" />
    <input type="submit" style="display:none" id="razorpay_submit" />
</form>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_K3ts82hO67KSNu", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "@ViewBag.orderId", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        let razorpay_payment_id = response.razorpay_payment_id;
        let razorpay_order_id =  response.razorpay_order_id;
        let razorpay_signature = response.razorpay_signature;

        let text_razorpay_payment_id = document.getElementById("razorpay_payment_id");
        let text_razorpay_order_id = document.getElementById("razorpay_order_id");
        let text_razorpay_signature = document.getElementById("razorpay_signature");
        let razorpay_submit = document.getElementById("razorpay_submit");

        text_razorpay_payment_id.value = razorpay_payment_id;
        text_razorpay_order_id.value = razorpay_order_id;
        text_razorpay_signature.value = razorpay_signature;


        razorpay_submit.click();


    },
    "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
    }
    let rzpbutton1 = document.getElementById('rzp-button1');
    rzpbutton1.click();


</script>